* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Outfit', sans-serif;

}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}


/* DEBUG RULES */

.debug .container {
    padding: 10px;
    background-color: #add8e6;
    border: 1px solid blue;
}

.debug .page-header {
    padding: 10px;
    background-color: #add8e6;
    border: 1px solid #add8e6;
}

.debug .row {
    padding: 10px;
    border: 1px solid red;
} 

.debug .col-3,
.debug .col-6,
.debug .col-3-end {
    background-color: #daa520;
}

.debug .container-f-section {
    background-color: #00008b;
}

.debug .col {
    background-color: #ee82ee;
    border: 1px dashed black;
}

.debug .col-6-s {
    background-color: #1e90ff;
    border: 1px dashed black;
}

.debug .col-6-t {
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.debug .container-t-section {
    background-color: #d3d3d3;
}

.debug .container-q-section {
    background-color: #d3d3d3
}

.debug .col-12 {
    background-color: #228b22;
    border: 1px dashed black;
}

.debug .container-footer,
.debug .container-footer-2 {
    background-color: #23272a;
    border-bottom: 1px solid white;
}

.debug .col-2 {
    background-color: #20b2aa;
    border: 1px dashed white;
}

.debug .col-4 {
    background-color: #f08080;
    border: 1px dashed black;
}

.debug .col-12-f {
    background-color: #7fffd4;
}

.debug .col-footer {
    background-color: #ffb6c1;
    border: 1px dashed black;
}

/* Inizio Header */

.container {
    min-height: 50px;
    padding-top: 10px;
    background-color: #3161e0;
}

.header-logo {
    width: 70px;
    min-height: 30px;
    margin-left: 50px;
}

.nav-bar {
    list-style: none;
}

.nav-bar > li {
    display: inline-block;
}

.nav-bar > li {
    margin: 0 20px;
    color: white;
    font-size: 13px;
}

.page-header {
    min-height: 50px;
    padding: 0px 40px;
}

.header-button {
    margin-right: 50px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    background-color: white;
}

.row {
    width: 100%;
    display: flex;
}

.col-3 {
    flex-basis: calc(100% / 4);
    min-height: 30px;
    font-size: 14px;
    line-height: 30px;
}

.col-3-end {
    flex-basis: calc(100% / 4);
    min-height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: end;
}

.col-6 {
    flex-basis: calc(100% / 2);
    min-height: 30px;
    text-align: center;
    line-height: 30px;
}

/* Inizio Main */

/* Prima section */
.row-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/jumbo.png);
    background-size: contain;
}

.container-hero {
    width: 1200px;
    min-height: 400px;
}

.col {
    width: 600px;
    min-height: 270px;
    margin: 60px;
}

.title-hero {
    color: white;
    text-align: center;
    font-size: 35px;
}

.text-hero {
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}

.container-button-hero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-hero {
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
}

.button-hero-2 {
    background-color: #23272a;
    color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
}

/* Seconda section */

.container-s-section {
    width: 1200px;
    background-color: white;
    padding: 60px;
}

.row-s-section {
    display: flex;
}

.col-6-s {
    flex-basis: calc( 100% / 3 );
    min-height: 400px;
    flex-grow: 1;
}

.col-6-t {
    flex-basis: calc( 100% / 3 );
    min-height: 400px;
}

.title-section {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.text-section {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
/* Terza section */

.bg-wave {
    opacity: 0.1;
}

.container-t-section {
    width: 1200px;
    min-height: 500px;
}

.row-t-section {
    padding: 60px;
    display: flex;
}

.col-6-t > .title-section {
    font-size: 40px;
    background-color: f6f6f6;
}

/* Quinta section */

.container-q-section {
    width: 1200px;
    padding: 60px;
}

.row-q-section {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
}

.col-12 {
    flex-basis: 100%;
    min-height: 750px;
    padding: 60px;
} 

.title-section-2 {
    font-size: 40px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

.text-section-2 {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.container-title-under-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.title-under-img {
    text-align: center;
}

.button-section-5 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button-under-title {
    background-color: #8ea1e1;
    color: white;
    height: 40px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}



/* Inizio footer */
/* Prima section del footer */

.container-footer {
    width: 1200px;
    min-height: 500px;
    padding: 30px 60px 60px;
    background-color: #23272a;
}

.row-footer {
    display: flex;
    justify-content: center;
}

.col-2 {
    flex-basis: calc( 100% / 6 );
    min-height: 400px;
}

.col-4 {
    flex-basis: calc( 100% / 6 );
    min-height: 400px;
    flex-grow: 1;
    margin-right: 5px;
}

.col-4-title {
    font-size: 30px;
    font-weight: 700;
    color: #7289da;
    padding: 10px;
}

.container-img-span {
    padding: 10px;
}

.flag {
    width: 20px;
    min-height: 10px;
}

.language {
    font-size: 18px;
    color: white;
}

.container-social-logo {
    padding: 10px;
}

.social-logo {
    width: 20px;
    min-height: 20px;
    margin-right: 10px;
}

.product-title {
    margin: 20px;
    color: white;
    font-size: 21px;
}

li:first-child {
    color: #7289da;;
    font-weight: 700;
    font-size: 22px;
}



/* Seconda section del footer */

.container-footer-2 {
    min-width: 1000px;
    background-color: #23272a;
    border-top: 1px solid #7289da;
}

.row-footer-2 {
    display: flex;
    justify-content: center;
}

.col-12-f {
    flex-basis: calc( 100% - 120px );
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-footer {
    width: 70px;
    height: 15px;
    margin-top: 5px;
    text-align: center;
}

.footer-button {
    background-color: #8ea1e1;
    color: white;
    height: 40px;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 30px;
}
